@font-face {
    font-family: "navBarTextFontLight";
    src: local("GothicA1-light"), url("../Fonts/GothicA1-Light.ttf");
}

@font-face {
    font-family: "navBarTextFontMedium";
    src: local("GothicA1-Medium"), url("../Fonts/GothicA1-Medium.ttf");
}

@font-face {
    font-family: "strangerThings";
    src: local("StrangerThingsFont") ,url("../Fonts/StrangerThingsFont.ttf");
}

@font-face {
    font-family: "strangerThingsInfoPlay";
    src: local("GothicA1-Bold") ,url("../Fonts/GothicA1-Bold.ttf");
}

@font-face {
    font-family: "madMaxTitle";
    src:  local("MadMaxTitle"),url("../Fonts/Reporter\ Regular.ttf");
}
.navBarGenres{
    z-index: 1;
    width: 100%;
    height: 21%;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    position: fixed;
   
}
.navbar__search{
    margin-bottom: 50px ;
    z-index: 1;
    width: 100%;
    height: 7%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2%;
    position:static;

}

.navBarText{
    color: white;
    text-decoration: none;
    font-family: "navBarTextFontMedium";
    font-size: 14px;
}

.navBar__searchBar{
    margin-left: 40%;
}

.navbarSearchBar{
    border: 1px white solid;
    background-color: #141414;
    height: 35px;
    width: 230px;
    color: white;
    font-size: 16px;
    padding: 4px;
}

.searchBarButton{
    display: none;
}
.searchBarIcon{
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
}

.searchBarIconAnimation{
    
    
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: .5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 


.searchBarIcon{
    margin-left: 320px
}