.row__posters{
    width: 100%;
    height: 10% !important;
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden; 
    position: relative;
    
}


.row{
    background-color: #141414;
    width: 98%;
    position: relative;
    left: 2%;
    margin-bottom: 5%;
}


#root{
    background-color: #141414;
    width: 100%;
    height: 100%;
    margin: 0;
    
}

.item{
     padding: 10px;
    /* border-radius: 0px !important;
    */
}
ul{
    width: 320px !important;
    height: 270px !important;
    
    z-index: 1;
    position: relative;
    
}
.react-multiple-carousel__arrow {
    height: 200px;
    
    border-radius: 0px !important;
}
.react-multiple-carousel__arrow--left {
    left:-5px !important;
    border-radius: 3% !important;
    top:10px;
    height: 220px;
} 

.react-multiple-carousel__arrow--right{
    left: 98%;
    border-radius: 3% !important;
    position: relative;
    z-index: 1;
    top:10px;
    height: 220px;
}
.row_posters_images{
    width: 330px;
    height: 220px;
    margin-right: 10px ;
    transition: transform 450ms;
    border-radius: 3%;
    z-index: 1;
    position: relative;
    
}

.row_posters_images:hover{
    transform: scale(1.08);
}




