
@font-face {
    font-family: "OnHoverTitle";
    src: local("Oswald-VariableFont_wght"), url("../Fonts/Oswald-VariableFont_wght.ttf");
}

.row__posters{
    width: 100%;
    height: 330px !important;
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden; 
    position: relative;
    margin-bottom: 0;
}


.row{
    background-color: #141414;
    width: 100%;
    position: relative;
    /* left: 2%; */
    
   
}


#root{
    background-color: #141414;
    width: 100%;
    height: 100%;
    margin: 0;
    
}


.big_poster_item{
    width: 220px !important;
    margin-top: 30px;
}

.row_posters_images{
    width: 375px;
    margin-right: 0px ;
    transition: transform 450ms;
    border-radius: 3%;
    object-fit: contain;
    position: relative;
    padding: 3px;
    margin-top: 5px;

}

.row_posters_images:hover{
    transform: scale(1.05);
    filter: brightness(65%);

}

.row_posters_big{
    width: 220px;
    height: 320px;
    object-fit: contain;
    padding: 3px;
    
}
.row_posters_big:hover{
    transform: scale(1.05);
    transition: transform 450ms;
    filter: brightness(65%);

}

.row_big{
     position: relative;
    left:-5.2% ; 
    width: 105.2%;  
    top:-30px;
    background-color: transparent;
    }
.row_big_genresMovies{
    position: relative;
    top:-35%;
    width: 100%;
    left: 0%;
}

.react-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.react-player {
    
    position: relative; 
   
  }
  
.react-player > div {
    background-color: #141414;
    
  }


#titleOnHover{
    animation: myAnim 0.5s ease-out 0s 1 normal forwards;
    font-size: 30px;
    font-family: "OnHoverTitle";
}

#trailerPlay{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 90px;
    height:40px ;
    border: none;
    animation: myAnim 0.5s ease-out 0s 1 normal forwards;
    width: 220px !important;

}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(100deg);
		transform-origin: bottom;
	}

	100% {
		opacity: 1;
		transform: rotateX(0);
		transform-origin: bottom;
	}
}
#titleContainer:hover #titleOnHover {
    opacity: 1;
    transform: translateY(0);
  }

.buttonOnHoverBigRow{
    color: white;
    position: fixed;
    top:190px;
    left: 50px;
}